*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: antiquewhite;
}
/* table, th, td {
    border: 1px solid black;
  } */
.first{
    width: 80%;
    display: flex;
    justify-content: center;

}
.nav{
    width: 100%;
}
.nav .menue td{
    width: 150px;
   cursor: pointer;
}

.title{
    color: firebrick;
}
.title .in{
    color: chocolate;
}
.pText{
    max-width: 500px;
}
.sec2{
    width: 100%;
    /* background-color: darkgreen; */
    display: flex;
    
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: darkolivegreen;
    margin-top: 10px;
}
.sec2 table{
    width: 80%;
}
.sec2 td {
    padding: 28px;
    max-width: 250px;
    background-color: azure;
}
.sec2 th {
    color: white;
    font-size: 30px;
}
footer{
    width: 100%;
    text-align: center;
    background-color: blue;
    color: beige;
}
.top{
    position: absolute;
    top: 0;
    right:350px;
    color: brown;
    font-weight: bold;
}